<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87436149221-9f95f3bcilucorb450ecsnmsmb7c7j7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87436149221-9f95f3bcilucorb450ecsnmsmb7c7j7g</string>
	<key>API_KEY</key>
	<string>AIzaSyARgq6KOTghcC5qtCFzIprypEpAl_XH52Y</string>
	<key>GCM_SENDER_ID</key>
	<string>87436149221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tourdine</string>
	<key>PROJECT_ID</key>
	<string>tourdine-22</string>
	<key>STORAGE_BUCKET</key>
	<string>tourdine-22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87436149221:ios:121017e7d8eedc11232f0c</string>
</dict>
</plist>